/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text, .projects-wrapper {
    width: 650px;
}