/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
    width: 100%;
    background-color: white;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.header {
    position: relative;
}

.arrow-vector {
    position: absolute;
    right: 0;
    top: -50px;
    height: 100px;
    width: auto;
}

.main-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text {
    width: 600px;
    line-height: 1.9;
}