/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.art-grid-container {
  padding-top: 2rem;
  width: 90%;
}

.hidden {
    visibility: hidden;
}

.loader {
  border: 12px solid #e5e5e5;
  border-top: 12px solid #e8ba74;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 2.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .art-grid-container {
    padding-top: 1rem;
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .art-grid-container {
    width: 1000px;
  }
}

@media (min-width: 1400px) {
    .art-grid-container {
      width: 1250px;
    }
  }
