@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

// global styles

body, html, #root {
    height: 100%;
}

body {
    background-image: url('./assets/bg-texture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .title-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p, span {
    font-size: 1.05rem;
}