/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.button-wrapper {
    padding: .75rem 1.25rem;
    border: 2px solid #E5E5E5;
}

.button-active {
    border: 2px solid #E8BA74;
    background-color: #e8ba7439;
}