/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
    padding: 1.5rem;
}

.project-links {
    border-color: transparent;

    &:hover {
        border-color: black;
    }
}