/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.art-img-wrapper {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    line-height: 0;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    & img:hover {
        transition: opacity .2s ease-in-out;
        opacity: .8;
    }
}