/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.main-text-container {
    position: relative;
    max-width: 550px;
}

.hi-img {
    position: absolute;
    width: 140px;
    height: auto;
    top: -110px;
    left: 30px;
}


@media (min-width: 768px) {
    .hi-img {
        width: 140px;
        top: -120px;
        left: -60px;
    }
}