/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.big-bg-deco {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw / 3);
}

@media (max-width: 600px) {
    .big-bg-deco {
        display: none;
    }
}