/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.inner-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art-nav-btns {
    border-radius: 50px;
}

.close-btn {
    border-radius: 50px;
    position: absolute;
    right: 1rem;
    top: 1rem;
}