/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.oncyber-wrapper {
    width: calc(100% - 2rem);
    height: 80vh;
    margin: 3rem 1rem;
}

.text-link {
    transition: border-width 0.2s ease-in-out;
}

@media (max-width: 640px) {
    .oncyber-wrapper {
        width: calc(100% - .5rem);
        height: 80vh;
        margin: 2rem .25rem;
    }
}