/* Styling for the markdown Blog Posts */
/* use of the .markdown prefix is required to keep the classes in scope of the blog posts */

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p {
  color: #222;
}

.markdown h1 {
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.markdown h2 {
  font-size: 1.75em;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.markdown h3 {
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: .75rem;
}

.markdown h4 {
  font-size: 1.25em;
  margin-top: .75rem;
  margin-bottom: .5rem;
}

.markdown h5 {
  font-size: 1.1em;
  margin-top: .5rem;
  margin-bottom: .25rem;
}

.markdown p {
  font-size: 1em;
  line-height: 1.6;
  margin: .5rem 0;
}

.markdown hr {
    border-color: #ddd;
    margin: 1.75rem 0;
}

.markdown blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  padding-left: 1em;
  color: #444;
}
