.container {
    position: fixed;
    background-color: #FCFCF8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    border-bottom: 1px solid #ebebe6;
}

.nav-animation {
    transition: border-color 0.2s ease-in-out;
}